<form style="margin-top: 1rem; margin-bottom: 1rem;">
    <div>
        <label>Nome</label>
        <input type="text" name="nome" [(ngModel)]="usuario.nome" style="margin-left: 0.3rem;" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="usuario.email" style="margin-left: 0.3rem;" />
    </div>
    <div style="margin-top: 0.3rem;">
        {{usuario | json}}
    </div>
    <div>
        <button type="button" (click)="salvar()" style="margin-top: 0.5rem;">Salvar</button>
    </div>
</form>
