<div class="ui-g ui-fluid" style="margin-top: 1rem; margin-bottom: 1rem;">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" [(ngModel)]="usuario.nome" pInputText placeholder="Nome" style="margin-left: 0.3rem;" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="email" [(ngModel)]="usuario.email" pInputText placeholder="E-mail" style="margin-left: 0.3rem; margin-top: 1rem;" />
        </div>
    </div>
    <div style="margin-top: 1rem;">
        {{usuario | json}}
    </div>
    <div>
        <button pButton (click)="salvar()" style="margin-top: 1rem;" label="Salvar"></button>
    </div>
</div>