<div>
    <p>Conteúdo do meu sistema (Usuario)</p>
</div>
<div>
    <p>Nome do usuário: {{usuario?.nome}}</p>
</div>
<div>
    <p>E-mail do usuário: {{usuario?.email}}</p>
</div>
<div>
    <p-table [value]="usuarios">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div>
    <button pButton routerLink="add" style="margin-top: 1rem; margin-bottom: 1rem;" label="Add"></button>
</div>
